body, html {
   margin: 0px;
   padding: 0px;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 1.5;
    width: 100%;
    word-spacing: 1px;
}

.header_img {
   margin: 15px auto 0 auto;
   padding: 0 0 0 35px;
   position: relative;
   width: 940px;
   z-index: 11;
}

.nav_container { }

.nav_container.horizontal {
   line-height: 2;
   margin: 0 auto;
   padding: 10px 0 0 35px;
   position: relative;
   white-space: normal;
   width: 940px;
   z-index: 25;
}

.nav_container.horizontal div {
   float: left;
   padding-right: 3px;
}

.nav_container a {
   font-size: 11px;
   padding: 2px 3px 3px 3px;
   text-decoration: none;
}

.page_link, .link_link, .nav_active {
   margin: 0 9px 0 -9px;
}

.page_link a, .link_link a, .nav_active a {
   font-size: 14px;
   padding: 4px 9px 5px 9px;
   text-decoration: none;
   white-space: nowrap;
    
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.page_link a { color: #555555; }
.page_link a:hover { background: #ffff66; color: #000000; }
.page_link a:active { background: #000000; color: #f2f2f2; }

.link_link a { color: #555555; text-decoration: underline; }
.link_link a:hover { background: #ffff66; color: #000000; }
.link_link a:active { background: #000000; color: #f2f2f2; }

.nav_active a { background: #cccccc; color: #ffffff; }
.nav_active a:hover { background: #cccccc; color: #ffffff; }
.nav_active a:active  { background:#cccccc; color:#ffffff; }

#content_container {
   clear: both;
   margin: 0 auto 0 auto;
   padding: 15px 0 0 35px;
   position: relative;
   width: 940px;
   z-index: 10;
}

#text_container {
   color: #555555;
   width: 560px;
}

#text_container a { color: #000000; text-decoration: underline; }
#text_container a:hover { background: #ffff66; color: #000000; text-decoration: none; }
#text_container a:active { background: #000000; color: #ffffff; }
