/* Generic CSS */
body, html {
   margin: 0px;
   padding: 0px;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    width: 100%;
    word-spacing: 1px;
}

.header_img {
   margin: 15px auto 0 auto;
   padding: 0 0 0 35px;
   position: relative;
   width: 940px;
   z-index: 11;
}

/* Navigation CSS */
.nav_container { }

.nav_container.horizontal {
   line-height: 2;
   margin: 0 auto;
   padding: 10px 0 0 35px;
   position: relative;
   white-space: normal;
   width: 940px;
   z-index: 25;
}

.nav_container.horizontal div {
   float: left;
   padding-right: 3px;
}

.nav_container a {
   font-size: 11px;
   padding: 2px 3px 3px 3px;
   text-decoration: none;
}

.page_link, .link_link, .nav_active {
   margin: 0 9px 0 -9px;
}

.page_link a, .link_link a, .nav_active a {
   font-size: 14px;
   padding: 4px 9px 5px 9px;
   text-decoration: none;
   white-space: nowrap;
    
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.page_link a { color: #555555; }
.page_link a:hover { background: #ffff66; color: #000000; }
.page_link a:active { background: #000000; color: #f2f2f2; }

.link_link a { color: #555555; text-decoration: underline; }
.link_link a:hover { background: #ffff66; color: #000000; }
.link_link a:active { background: #000000; color: #f2f2f2; }

.nav_active a { background: #cccccc; color: #ffffff; }
.nav_active a:hover { background: #cccccc; color: #ffffff; }
.nav_active a:active  { background:#cccccc; color:#ffffff; }

/* Project Navigation CSS */
.project_thumb {
   float: left;
   margin: 0 35px 5px 0;
   position: relative;
   text-align: center;
}

.project_thumb img {
   width: 200px;
   height: 134px;
}

.project_thumb .hover {
   cursor: pointer;
   text-decoration: none;
}

.project_thumb .nohover {
   text-decoration: none;
}

.project_thumb .hover .cardimgcrop {
   border: 5px solid #dddddd;
}

.project_thumb .hover .thumb_title span {
   text-decoration: underline;
}

.project_thumb.active .cardimgcrop {
   border: 5px solid #dddddd;
}

.project_thumb.active .thumb_title span {
   text-decoration: underline;
}

.cardimgcrop {
   border: 5px solid transparent;
   margin: -5px -5px 6px -5px;
   position: relative;
   min-width: 200px;
   min-height: 134px;
}

.loader_holder {
   display: none;
   position: absolute;
   text-align: center;
   top: 8px; left: 8px;
   z-index: 3;
}

.thumb_title {
   overflow: hidden;
   white-space:nowrap;
   text-align: center;
   width: 200px;
   margin: 0 0 22px 0;
}

.thumb_title .text {
   color: #000000;
   font-size: 11px;
   font-weight: bold;
   line-height: 15px;
   overflow: hidden;
   padding: 2px 3px 2px 3px;
   white-space: nowrap;
   text-align: center;
}

.thumb_tag {
   color: #999999;
   height: 3em;
   line-height: 15px;
   margin: 0 0 2px 0;
   overflow: hidden;
   text-align: center;
   width: 200px;
}

.thumb_tag a {
   color: #999999;
   font-family: Georgia, Times, serif;
   font-size: 11px;
   line-height: 1.5em;
   text-align: center;
   text-decoration: none;
}

.thumb_tag a:hover {
   text-decoration: underline;
}

/* Container CSS */
.content_container {
   clear: both;
   margin: 0 auto 0 auto;
   padding: 15px 0 0 35px;
   position: relative;
   width: 940px;
   z-index: 10;
}

#text_container {
   margin-left: 8px;
   color: #555555;
   width: 560px;
}

#text_container h1 {
   font-size: 22px;
   margin: 0;
} 

#text_container a { color: #000000; text-decoration: underline; }
#text_container a:hover { background: #ffff66; color: #000000; text-decoration: none; }
#text_container a:active { background: #000000; color: #ffffff; }

#container_bottom {
   clear: both;
   border-bottom: 1px solid #cccccc;
   margin: 0 35px 10px 0;
}

#photos_container {
   margin-top: 20px;
   margin-left: 8px;
   width: 800px;
}

#slider_control_left {
   background: url('../img/icon_arrow_left.png') no-repeat 0 -31px;
   height: 31px;
   width: 31px;
   margin-right: 5px;
}

#slider_control_left:hover {
   background-position: 0 0;
}

#slider_control_right {
   background: url('../img/icon_arrow_right.png') no-repeat 0 -31px;
   height: 31px;
   width: 31px;
   margin-left: 5px;
}

#slider_control_right:hover {
   background-position: 0 0;
}

#photos_container img {
   max-width: 260px;
   max-height: 600px;
}

/* Footer CSS */
#footer_text {
	float: right;
	padding-right: 80px;
}
